<div class="small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="index.html">Dashboard</a></li>
                    <li>
                        <span>Forms</span>
                    </li>
                    <li class="active">
                        <span>Wizard </span>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Wizard
            </h2>
            <small>Build a form with wizard functionality.</small>
        </div>
    </div>
</div>