<!-- Navigation -->
<aside id="menu">
    <div id="navigation">
        <ul class="nav" id="side-menu">
            <li>
                <a [routerLink]="[ '/administracion/usuarios' ]">
                    <span class="nav-label">Usuarios</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administracion/servidores' ]">
                    <span class="nav-label">Servidores</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administracion/areas' ]">
                    <span class="nav-label">Areas</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administracion/vistas' ]">
                    <span class="nav-label">Vistas</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administracion/temas' ]">
                    <span class="nav-label">Temas</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administracion/criticidad' ]">
                    <span class="nav-label">Tipo de Criticidad</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administracion/paquetes' ]">
                    <span class="nav-label">Tipo de Paquetes</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administracion/ejecucion' ]">
                    <span class="nav-label">Tipo de Ejecucion</span>
                </a>
            </li>
            <li>
                <a [routerLink]="[ '/administracion/monitoreo' ]">
                    <span class="nav-label">Tipo de Monitoreo</span>
                </a>
            </li>
        </ul>
    </div>
</aside>