/* You can add global styles to this file, and also import other style files */

@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 5px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.owl-dt-container {
    font-size: 16px !important;
}

.swal2-popup {
    font-size: 17px !important;
}